*{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: bold;
    font-size: 3rem;
}
.left p{
    margin-left: 60px;
}
.left-1 p{
    margin-left: 60px;
}
.span{
color: orange;
}
.button{
    color: white;
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 60px;

   
}
.header,.header-1{
    display: grid;
    grid-template-columns: auto auto;
    margin: 40px;
   
}
.section-2{
    margin-top: 70px;
}
.header-1{
  background-image: url(images/shapes/7.png); 
}
.left h1 {
    margin: 60px;
    margin-bottom: 0;
}
.left-1{
    margin: 60px;
    margin-bottom: 0;
}
.right-1 img{
  height: 500px;
  width: 400px;
}
.left-1 h1{
    margin-top: 20px;
    margin-left: 60px;
}
.food-1 img{
    height: 260px;
    width: 250px;
    
    border-radius: 10px;
}
.food-2 img{
    height: 260px;
    width: 250px;
    border-radius: 10px;
}
.food-3 img{
    height: 260px;
    width: 250px;
    
    border-radius: 10px;
}
.card{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
   
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: space-around;
    margin-left: 50px;
    box-shadow: black 5px;
}
.food-1,p{
    margin-left: 0;
}
.food-2 p{
    margin-left: 0;
}
.food-3 p{
    margin-left: 0;
}
.food-1,.food-2,.food-3{
    border: 1px solid ;
    border-radius: 5px;
    padding: 25px;
    /* box-shadow: black 5px; */
    box-shadow: 10px 10px;
}
.bottom{
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 1px solid ; */
    border-radius: 15px;
    padding: 25px;
    width: 80%;
    margin-left: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 30px;
}
footer{
    height: 100px;
    width: 100%;
    background-color: black;
}
footer p{
    color: cornsilk;
    text-align: center;

   padding-top: 80px;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      padding: 0;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
    .header{
        width: 150px;
     grid-template-columns: auto;
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
     
  
       
    }
  
    .header-1{
        grid-template-columns: auto;
    }
    
    .card{
        grid-template-columns: auto;
        margin-right: 40px;
    }
    .bottom{
        grid-template-columns: auto;
        width: 60%;
    }
    footer{
        width: 120%;
    }
  }
